@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Roboto", sans-serif;
}

@theme{
  --color-primary : #0544E5;
}

.reset-tw, .reset-tw * {
  all: revert !important;
}

.cl-drawerRoot{
  z-index: 10;
}
